{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('admin_article') }}{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('admin_article') }}{% endblock %}
{% block body %}
    <h1>Nouvel article</h1>
    <main>
        {{ include('admin_article/_form.html.twig') }}
    </main>
    <a href="{{ path('app_admin_article_index') }}">back to list</a>
{% endblock %}
