{% extends 'admin/base_admin.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('admin_category') }}{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('admin_category') }}{% endblock %}

{% block title %}New Category{% endblock %}

{% block body %}
    <main>
    <h1>Création d'une nouvelle catégorie</h1>

    {{ include('admin/category/_form.html.twig') }}
        <div class="buttonCat">
    <a href="{{ path('app_category_index') }}">Retour</a>
        </div>
    </main>
{% endblock %}
