{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edition d'un article{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('admin_article') }}{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('admin_article') }}{% endblock %}
{% block body %}
    <h1>Édition de votre article</h1>
<main>
    {{ include('admin/article/_form.html.twig')}}
</main>
{% endblock %}
